/ = modal_dialog id: "feat_#{feat.id}",
/   header: {show_close: false, dismiss: "modal", title: feat.name},
/   body: feat.description,
/   footer: content_tag(:button, "Close", class: "btn", data: {dismiss: "modal"})
.hidden.feat-card
  p.attr-name = feat.description.gsub("\n", "<br />").html_safe

