// Place all the styles related to the powers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// A bunch of attack type images
i.atk {
  padding-right: 2px;
  height: 15px;
  width: 15px;
  background-size: 15px 15px;
  background-repeat:no-repeat;
  display: inline-block;
  float: left;
  margin-left: -2px;
}
.atk-area-burst {
  background-image: image-url("atk_area_burst.png")
}
.atk-area-blast {
  background-image: image-url("atk_area_blast.png")
}
.atk-area-wall {
  background-image: image-url("atk_area_wall.png")
}
.atk-close-blast {
  background-image: image-url("atk_close_blast.png")
}
.atk-close-burst {
  background-image: image-url("atk_close_burst.png")
}
.atk-close-wall {
  background-image: image-url("atk_close_wall.png")
}
.atk-hybrid {
  background-image: image-url("atk_hybrid.png")
}
.atk-melee-weapon {
  background-image: image-url("atk_melee.png")
}
.atk-personal {
  background-image: image-url("atk_personal.png")
}
.atk-ranged-weapon {
  background-image: image-url("atk_ranged.png")
}
.atk-ranged {
  background-image: image-url("atk_ranged_sight.png")
}
.atk-touch {
  background-image: image-url("atk_touch.png")
}
